<div class="navbar m-2">
  <app-nav-bar></app-nav-bar>
</div>

<div class="UIbody container" style="margin-top: 70px ;">
  <app-property-card></app-property-card>
  <app-property-list></app-property-list>
</div>

<!-- <router-outlet></router-outlet> -->


<div class="fixed-bottom">
  <footer class="footer mt-auto py-3 bg-dark w-100">
    <div class="container text-center">
      <span class="text-muted">
        All Rights Reserved &copy; Ramesh Choudhary 2022
      </span>
    </div>
  </footer>
</div>
